main {
    min-height: 100%;
}

.berry-container {
    order: 0;
    position: relative;
    min-height: 33.13rem;
    width: 100%;
    background: url(../images/bg-9-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 70%;
}

.berry__content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    /* background: rgba(190, 199, 187, 0.5); */
    filter: brightness(0.9) sepia(50%);
    width: 100%;
    height: 100%;
}

.berry__space {
    order: 1;
    width: 100%;
    height: 40%;
}

.berry__form-container {
    order: 0;
    width: 100%;
    height: 60%;
    vertical-align: middle;
    /* filter: brightness(0.1); */
    /* background: linear-gradient(to right, rgba(53, 53, 53, 0.5) 15%, transparent); */
    font-family: 'Helvetica', sans-serif;
    color: #490e24;
    background: linear-gradient(to bottom, rgba(170, 140, 168, 0.5), transparent);
}

.berry__text {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 5%;
    margin: 0 auto;
    left: 5%;
    right: 5%;
    text-shadow: 1px 1px 2px #190303;
}

.berry__text h1 {
    text-align: center;
    min-width: 15.875rem;
    max-width: 45.625rem;
}

.berry__text label {
    display: inline-block;
    text-align: left;
    font-size: 1.35rem;
    margin-bottom: 0.75rem;

}

.berry__text-input {
    display: block;
    text-align: left;
    min-width: 15.875rem;
    width: 85%;
    max-width: 42.625rem;
    padding-left: 0.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    color: rgb(85, 54, 63);
    border: 1.5px solid rgba(122, 73, 9, 0.603);
    border-radius: 7px;
}

.berry__text-input:valid {
    border: 1.5px solid green;
    background-color: rgba(0, 255, 0, 0.4);
}

.berry__text-input:invalid {
    border: 1.5px solid rgba(122, 73, 9, 1);
    background-color: rgba(200, 0, 0, 0.4);
}


.berry__text-input:focus {
    border: 2px solid rgba(122, 73, 9, 1);
}

input:focus {
    outline: none;
}

input[type="text"], textarea {

    background-color: rgba(240, 146, 240, 0.609);

}

#berry-submit {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    min-width: 15.875rem;
    width: 85%;
    max-width: 42.625rem;
    font-size: 1.5rem;
    border: rgba(66, 64, 53, 0.239) solid 1.5px;
    border-radius: 5px;
    color: #490e24;
    text-shadow: 1px 1px #190303;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}

#berry-submit.deny{
    background-color: rgba(90, 90, 90, 0.5);
    cursor: not-allowed;
}

input[type="text"], textarea {

    background-color : rgba(240, 146, 240, 0.609);

}


.perks__container {
    position: static;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 25rem;
    height: 57rem;
    /* border: 1px solid black; */
    text-align: center;
    vertical-align: middle;
    padding: 5rem 0;
}

.perks__item {
    min-width: 33%;
    width: 100%;
    height: 33.33%;
    margin: 0 1rem;
    /* border: 1px solid black; */
}

.perks__item h1, .perks__item p {
    margin: 0;
    
    color: #02292e;
}

.perks__item h1 {
    font-size: 1.75rem;
    /* line-height: 1.8rem; */
    text-shadow: 1px 1px 0px rgba(4, 15, 23, 0.623);
}

.perks__item p {
    margin-top: 0.4rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.perks__logo {
    display: inline-block;
    /* height: 60%; */
    min-height: 7.3rem;
    /* border: 1px solid black; */
}

.perks__logo svg {
    width: 7rem;
    height: 7rem;
    vertical-align: bottom;
    text-align: center;
    filter: invert(8%) sepia(48%) saturate(3937%) hue-rotate(319deg) brightness(50%) contrast(97%);
    
}

.perks__logo image {
    text-align: center;
    -webkit-transform: translate(0.5rem, 0.5rem);
    transform: translate(0.5rem, 0.5rem);
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.perks__logo image:hover {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
    width: 7rem;
    height: 7rem;
    transition: width, height 0.15s;
}

.perks__logo image:not(:hover) {
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.perks__text {
    width: 40%;
    min-width: 15rem;
    height: 50%;
    margin: 0rem auto;
    vertical-align: middle;
}

.samples__container {
    min-height: 30rem;
    height: 140rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    padding-top: 2rem;
    background-color: rgb(220, 240, 240, 0.9);

}

.samples__item {
    position: relative;
    min-width: 50%;
    width: 100%;
    max-height: 33.33%;
    height: 16.5%;
}

.sample {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.samples__title-container {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    margin: 0 auto;
    padding-top: 2.5rem;
    background-color: rgb(220, 240, 240, 0.9);
}

#samples__title {
    display: inline-block;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    left: 5%;
    right: 5%;
    color: #02292e;
    text-shadow: 1px 1px 0px rgba(4, 15, 23, 0.624);
}

#sample-1 {
    width: 100%;
    height: 100%;
    background: url(../images/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
}

#sample-3 {
    width: 100%;
    height: 100%;
    background: url(../images/cookies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

#sample-5 {
    width: 100%;
    height: 100%;
    background: url(../images/bg-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
}

.sample__text {
    
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 25rem;
    min-width: 15rem;
    margin: 0 auto;
    
    color: #02292e;
}

.sample__text h1, .sample__text p {
    display: block;
    margin: 0;
}

.sample__text h1 {
    font-size: 2.7rem;
    text-shadow: 1px 1px 0px rgba(4, 15, 23, 0.623);
    padding-bottom: 1rem;
    bottom: 10%;
}

.sample__text p {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
}


/* testimonials */
.testimonial__container {
    position: static;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 25rem;
    height: 57rem;
    /* border: 1px solid black; */
    text-align: center;
    vertical-align: middle;
    padding: 2rem 0;

}

.testimonial__item {
    min-width: 33%;
    width: 100%;
    height: 33.33%;
    margin: 0 1rem;
    /* border: 1px solid black; */
}

.testimonial__item h1, .testimonial__item p {
    margin: 0;
    color: #02292e;
}

.testimonial__item h1 {
    font-size: 1.4rem;
    /* line-height: 1.8rem; */
    text-shadow: 1px 1px 0px rgba(4, 15, 23, 0.623);
}

.testimonial__item p {
    margin-top: 0.4rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

.testimonial__logo {
    display: inline-block;
    /* height: 60%; */
    min-height: 7.3rem;
    /* border: 1px solid black; */
}

.testimonial__logo-image {
    width: 12rem;
    height: 12rem;
    vertical-align: bottom;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.308); 
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.308);
    border-radius: 50%;
    background-color: #f8f8f2;
    overflow: hidden;
}

.testimonial__logo img {
    width: 12rem;
    height: 12rem;
    vertical-align: bottom;
    text-align: center;
    
}

.testimonial__logo image {
    text-align: center;
    -webkit-transform: translate(0.5rem, 0.5rem);
    transform: translate(0.5rem, 0.5rem);
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.testimonial__logo image:hover {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
    width: 7rem;
    height: 7rem;
    transition: width, height 0.15s;
}

.testimonial__logo image:not(:hover) {
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.testimonial__text {
    width: 40%;
    min-width: 15rem;
    height: 50%;
    margin: 0rem auto;
    vertical-align: middle;
}

.berry-container.second-signup {
    
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

.berry-container.second-signup h1 {
    font-size: 1.65rem;
}